<br>
<br>
<br>
<br>

<div id="tester" style="width:600px;height:250px;"></div>
<script>
    $.post("./recruit", {},data => {

        TESTER = document.getElementById("tester");
        Plotly.plot(
            TESTER,
            data,
            {
                margin: { t: 0 }
            }
        );
        console.log(data);
    });
</script>